:root {
  --middle-green: rgba(60,153,110,.5); /* bootstrap green shadow for forms */
  --dissabled-gray: #343a40;

	--text-font-size: 21px;
	--caption-font-size: 16px;
	--title-font-size: 45px;  /* blog and other article titles */
	--subtitle-font-size: 26px;
  --plant-title-size: 70px;
  --tags-font-size: 13px;  /* yellow tags could be allways small */

  --max-text-width: 700px;
}
@media (max-width: 767.98px) {
  :root {
    --text-font-size: 18px;
    --caption-font-size: 13px;
    --subtitle-font-size: 24px;
    --plant-title-size: 50px;
  }
}

@font-face {
  font-family: 'IM Fell English';
  src: url('/fonts/IMFellEnglish-Regular.woff2') format('woff2'),
       url('/fonts/IMFellEnglish-Regular.woff') format('woff');
  font-display: swap; /* show text before font laoded */    
} 
@font-face {
  font-family: 'IndieFlower';
  src: url('/fonts/IndieFlower-Regular.woff2') format('woff2'),
       url('/fonts/IndieFlower-Regular.woff') format('woff'); 
  font-display: swap /* show text before font laoded */
}

@media (min-width: 768px) {
  .body-padding-lg { 
    padding-top: 160px; 
  }
  .body-padding-sm {
    padding-top: 96px; 
  }
}
/* padding is not required on small screens since nav is not fixed */
@media (max-width: 767.98px) {
  .body-padding-lg, .body-padding-sm { 
    padding-top: 0px; 
  }
}

html {
  scroll-behavior: smooth;
}

/* to prevent anchor scrooling going under the sticky nav bar */
h2, section {
  scroll-margin-top: 100px;
}

/* card images - zoom instead of strech */
.custom-card .card-img-top {
  object-fit: cover;
}
.custom-card-image-div {
  overflow: hidden;
}

/* card effect source: https://www.ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
/* next two are for zoom in on card hover */
a.custom-card .card img,
a.blog-card .blog-card-img img {
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
}
a.custom-card:hover .card img,
a.blog-card:hover .blog-card-img img {
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}

/* for shadow change on card hover */
a.custom-card .card {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
}
a.custom-card:hover .card {
  box-shadow:0 .325rem .55rem rgba(0,0,0,.075);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* card should not be colored blue because it is wrapped in a */
a.custom-card,
a.custom-card:hover {
  color: inherit;
}
a.inherit,
a.inherit:hover {
  color: inherit;
}

/* tags button */
.tag-button {
  border-radius: 45px !important;
  border-width: 2px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .tag-button {
    margin-right: 2px;
    margin-left: 2px;
  }
}
.tag-button:focus {
  box-shadow: none !important;
}
.category-button {
  font-size: var(--caption-font-size);
}

div.card.passport {
  background-color: rgba(92, 119, 66, 0.5);
}

p.card-title {
	font-size: var(--text-font-size);
	font-weight: bold;
}

/* default max column width */
.mw {
	max-width: var(--max-text-width);
  margin-right: auto;
  margin-left: auto;
}
.mw-800 {
  max-width: 800px;
}

/* main image for plant */
img.main-image {
	width: 100%;
}
div.main-image-container {
  height: 60vh; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  background-position: center; 
}
div.literature ol li {
  font-size: var(--caption-font-size);
}
div.subtitle-box p {
  color: gray;
  font-family: 'IM Fell English', serif;
  font-size: var(--text-font-size);
}
div.passport p,
div.passport h1 {
  color: white;
  font-size: 17px;
}
@media (min-width: 768px) {
  div.subtitle-box p {
    text-align: right;
  }
}
div.passport-top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
div.passport-top>div {
  padding-bottom: 0px;
}
div.passport-bottom {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
table.table-months td {
  padding-left: 0;
  padding-right: 0
}
div.months-box {
  background-color: var(--dissabled-gray);
}

/* post icons */
img.icon {
  fill: black;
}

/* post style */
div.post-content p,
div.post-content h1,
div.post-content h2,
div.post-content ul,
div.post-content ol {
  max-width: var(--max-text-width);
  margin-left: auto;
  margin-right: auto;
}

/* subcategories */
.subcategories-tags,
.subcategories-tags:hover,
.subcategories-tags:focus,
.subcategories-tags:active {
  color: var(--dissabled-gray) !important;
  font-size: var(--tags-font-size);
}

/* text style */

body {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

p, li {
	font-size: var(--text-font-size);
}

h1 {
	font-size: var(--title-font-size);
  font-family: 'IM Fell English', serif;
}
h1.plant-title {
  font-size: var(--plant-title-size) !important;
}

h2 {
	font-size: var(--subtitle-font-size);
  font-family: Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 30px;
	margin-bottom: 15px;
}

/* other properties for whole site */
:any-link {
  text-decoration: none;
}

/* underlined link with animation */
.post-content a,
.card-body a {
  border-bottom: 2px solid var(--bs-yellow);
  color: inherit;
  background-image: linear-gradient(120deg, var(--bs-yellow) 0%, var(--bs-yellow) 100%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.0em;
  transition: background-size 0.125s ease-in;
}
.post-content a:hover,
.card-body a:hover {
  background-size: 100% 100%;
  color: inherit;
}
/* exclude for image grid */
.gallery-grid a {
  background-image: none !important;
  border-bottom: none !important;
}

/* forms border/focus shine color change */
.form-control:focus {
  border-color: var(--bs-success);
  box-shadow: 0 0 0 0.25rem var(--middle-green);
} 
.btn-primary, 
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:visited,
.btn-outline-primary:hover{
  background-color: var(--green) !important;
  border-color: var(--green);
}
.btn-outline-primary, 
.btn-outline-primary:active, 
.btn-outline-primary:visited{
  border-color: var(--green);
  color: var(--green);
}
.btn-primary:focus,
.btn-primary:active, /* here because of glow */
.btn-outline-primary:active
{
  box-shadow: none !important;
  background-color: var(--green) !important;
  border-color: var(--green) !important;
}

/* padding between sections */
.psec {
  padding-top: 80px
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* nav stuff */
img.logo.collapsable {
  height: 140px;
}
@media (max-width: 767.98px) {
  /* on small screens nabar is not fixed since it take too much space */
  .navbar.fixed-top {
    position: static;
  }
  /* on small screens all logos are 140 px since nav is not fixed */
  img.logo.small {
    height: 140px;
  }
}
@media (min-width: 768px) {
  /* on other screens logo scales to 80px on home page or always is 80px on other pages */
  img.logo.small {
    height: 80px;
  }
}
.full-width {
  width: 100%;
}
img.logo {
  transition: height 700ms;
}
li.nav-item {
  font-family: 'IM Fell English', serif;
  font-size: var(--subtitle-font-size);
}

/* default posts style */
p.subtitle {
  color: gray;
  font-family: 'IM Fell English', serif;
  font-size: var(--subtitle-font-size);
}

/* styles post images */
div.post-content figure {
  margin-top: 50px;
  margin-bottom: 50px;
}
div.post-content figure img {
  width: 100%;
}
div.post-content figure figcaption h4 {
  padding-top: 15px;
  text-align: center;
}
h4 {
  /* curently h4 is only used for figure caption */
  font-size: var(--caption-font-size);
}
figure.text-width {
  max-width: var(--max-text-width);
  margin-left: auto;
  margin-right: auto;
}

.first-letter-upper:first-letter {
  text-transform: uppercase;
}

/* blog */
h2.blog-card-title {
  margin-top: 0 !important;
}
div.blog-card-img {
  -ms-flex: 0 0 280px;
  flex: 0 0 280px;
  min-height: 170px;
  overflow: hidden;
}
div.blog-card-img>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* trenutno nabiramo buttons */
.trenutno-nabiramo-button,
.trenutno-nabiramo-button-others {
  font-size: var(--tags-font-size);
  border-width: 2px;
  color: #343a40;
}
.trenutno-nabiramo-button:hover {
  color: #fff;
}
.box-title {
  font-size: var(--subtitle-font-size);
  font-family: 'IM Fell English', serif;
}
.subcategories-tag-m {
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* doniraj section */
img.our-image {
  width: 100%;
}
.doniraj-button>i{
  margin-left: 10px;
  font-size: var(--title-font-size);
}

.alert-warning>a {
  color: inherit;
  font-weight: bold;
}
.alert-warning>a:hover {
  color: inherit;
  font-weight: bold;
}

/* ligthbox */
.gslide-description{
  background-color: transparent !important;
}
.gdesc-inner {
  text-align: center;
}
.gdesc-inner>h4 {
  color: white !important;
} 

/* sticky div at the side of the post */
div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 150px;
  z-index: 0;
}
div.blog-social-bar {
  position: absolute; 
  top: 30px;
  width: 116px;
}
@media (min-width: 1200px) {
  div.blog-social-bar {
    left: 70px; 
  }
}
@media (min-width: 1400px) {
  div.blog-social-bar {
    left: 150px; 
  }
}

/* when hidin element with opacity this will annimate show/hide - look social-bar */
.annimate-hide {
  transition: opacity 0.25s ease-in;
}

.img-fit-cover {
  object-fit: cover;
}

/* 
  to truncate text to number of lines every element using 
  his class must specify number of lines with 
  -webkit-line-clamp: n;
*/
.text-truncated {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
}

/* read too */
.related-content {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(50, 50, 50, 0.5) 60%, rgba(50, 50, 50, 0.7) 100%);
}
.related-text-div {
  border-left: 10px solid var(--bs-green);
  padding-left: 20px;
  border-bottom-left-radius: 0.25rem;
  text-shadow: 3px 4px 7px rgba(40, 40, 40, 0.8);
}
@media (min-width: 768px) {
  .related-card{
    --aspect-ratio: 90%;
  }
}
.related-text-div>p {
  font-size: var(--text-font-size);
}
